{% extends "template.html" %}

{% block conteudo %}
<div class="mt-10 text-center" style="height: 76vh;">
    <h1 class="fs-1 font-bold my-4">Sobre Nós</h1>
    
    <section id="history" class="my-10">
        <h2 class="fs-3 font-semibold my-4">Nossa História</h2>
        <p class="text-lg mb-6">Nossa jornada começou no trabalho de conclusão de curso (TCC), cujo tema era processamento de dados. Desde então, temos nos dedicado a fornecer soluções avançadas em extração e processamento de dados.</p>
    </section>
    
    <section id="team" class="my-10">
        <h2 class="fs-3 font-semibold my-4">Nossa Equipe</h2>
        <div class="d-flex justify-content-around flex-wrap">
            <div class="card p-4 shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fs-4 font-bold mb-2">Bruno</h3>
                    <p class="card-text text-lg">Responsável pelo design e desenvolvimento frontend, garantindo interfaces amigáveis.</p>
                </div>
            </div>
            <div class="card p-4 shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fs-4 font-bold mb-2">Gabriel</h3>
                    <p class="card-text text-lg">Especialista em desenvolvimento backend e processamento de dados.</p>
                </div>
            </div>
            <div class="card p-4 shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fs-4 font-bold mb-2">Victor</h3>
                    <p class="card-text text-lg">Engenheiro de dados, focado em modelagem e análise de dados.</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
