{% extends "template.html" %}

{% block conteudo %}
<div class="mt-10 text-center p-4">
    <h1 class="text-4xl font-bold py-4">{{ 'Editar Empresa' if company else 'Adicionar Empresa' }}</h1>
    <form action="{{ url_for('edit_company', company_id=company.CompanyID) if company else url_for('add_company') }}"
        method="POST" class="max-w-lg mx-auto bg-white shadow-lg p-5 d-flex flex-wrap"">
        <div class=" col-12 d-flex flex-wrap">
                <div class="col-6 mb-4 pe-2">
                    <label for="name" class="block text-lg font-medium">Nome</label>
                    <input type="text" id="name" name="name" value="{{ company.Name if company else '' }}" required
                        class="w-100 p-2 border border-gray-300 rounded">
                </div>
                <div class="col-6 mb-4 pe-2">
                    <label for="cnpj" class="block text-lg font-medium">CNPJ</label>
                    <input type="text" id="cnpj" name="cnpj" value="{{ company.CNPJ if company else '' }}" required
                        class="w-100 p-2 border border-gray-300 rounded">
                </div>
        </div>
        <div class="col-12 d-flex flex-wrap">
            <div class="col-6 mb-4 pe-2">
                <label for="address" class="block text-lg font-medium">Endereço</label>
                <input type="text" id="address" name="address" value="{{ company.Address if company else '' }}"
                    class="w-100 p-2 border border-gray-300 rounded">
            </div>
            <div class="col-6 mb-4 pe-2">
                <label for="phone" class="block text-lg font-medium">Telefone</label>
                <input type="text" id="phone" name="phone" value="{{ company.Phone if company else '' }}"
                    class="w-100 p-2 border border-gray-300 rounded">
            </div>
        </div>
<div class="mb-4">
    <label for="foundation_date" class="block text-lg font-medium">Data de Fundação</label>
    <input type="date" id="foundation_date" name="foundation_date"
        value="{{ company.FoundationDate if company else '' }}" class="w-100 p-2 border border-gray-300 rounded">
</div>
<div class="mb-4">
    <label for="sector" class="block text-lg font-medium">Setor</label>
    <input type="text" id="sector" name="sector" value="{{ company.Sector if company else '' }}"
        class="w-100 p-2 border border-gray-300 rounded">
</div>
<div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">{{ 'Salvar' if company else 'Adicionar'
        }}</button>
</div>
</form>
</div>
{% endblock %}