{% extends "template.html" %}

{% block conteudo %}
<div class="mt-5 text-center">
    <section id="about" class="my-5">
        <h2 class="fs-3 font-semibold mb-4">Sobre Nós</h2>
        <p class="lh-base mb-6">Somos uma empresa dedicada a fornecer os melhores serviços digitais para nossos clientes. Nossa missão é facilitar sua vida através da tecnologia.</p>
    </section>
    
    <section id="services" class="my-10">
        <h2 class="fs-3 font-semibold my-4">Nossos Serviços</h2>
        <div class="d-flex justify-content-around flex-wrap col-12">
            <div class="bg-white col-5 p-4 shadow-lg p-4">
                <h3 class="fs-4 font-bold mb-2">Extração de Dados de Arquivos PDF</h3>
                <p class="lh-base">Oferecemos um serviço avançado de extração de dados automaticamente de arquivos PDF. Este serviço permite que você converta seus documentos PDF em dados estruturados de forma rápida e eficiente.</p>
            </div>
            <div class="bg-white col-5 p-4 shadow-lg p-4">
                <h3 class="fs-4 font-bold mb-2">Treinamento de Novo Padrão de Dados (Em breve)</h3>
                <p class="lh-base">Em breve, lançaremos um serviço de treinamento para novos padrões de dados. Fique atento para mais atualizações.</p>
            </div>
        </div>
    </section>
    
    <section id="testimonials" class="my-4">
        <h2 class="fs-3 font-semibold my-4">Depoimentos</h2>
        <div class="d-flex justify-content-around flex-wrap">
            <div class="card p-4 shadow-lg col-3">
                <div class="card-body">
                    <img src="{{ url_for('imagem', nome_arquivo='homem-1.jpg') }}" class="card-img-top border border-black rounded-pill" alt="Cliente 1" style="width: 20vw;height: 40vh;">
                    <p class="card-title fw-bold py-1">João P.</p>
                    <p class="card-text">"Gostei bastante da automação, melhorou o fluxo do meu trabalho bastante!"</p>
                </div>
            </div>
            <div class="card p-4 shadow-lg col-3">
                <div class="card-body">
                    <img src="{{ url_for('imagem', nome_arquivo='homem-2.jpg') }}" class="card-img-top border border-black rounded-pill" alt="Cliente 2" style="width: 20vw;height: 40vh;">
                    <p class="card-title fw-bold py-1">Claudio A.</p>
                    <p class="card-text">"Muito bom, melhorou muito a produtividade da minha equipe."</p>
                </div>
            </div>
            <div class="card p-4 shadow-lg col-3">
                <div class="card-body">
                    <img src="{{ url_for('imagem', nome_arquivo='mulher-1.jpg') }}" class="card-img-top border border-black rounded-pill" alt="Cliente 3" style="width: 20vw;height: 40vh;">
                    <p class="card-title fw-bold py-1">Marcia S.</p>
                    <p class="card-text">"Faz 1 mês que estou usando e estou muito satisfeita"</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}