{% extends "template.html" %}

{% block conteudo %}
<div class="mt-10 text-center p-4">
    <h1 class="fs-1 font-bold mb-6 d-flex flex-wrap align-items-center justify-content-center">Lista de Arquivos</h1>
    <div style="height: 60vh; overflow-y: scroll;">
        <table class="table table-bordered table-auto w-full">
            <thead>
                <tr>
                    <th class="px-4 py-2">ID</th>
                    <th class="px-4 py-2">Status</th>
                    <th class="px-4 py-2">Data de Inserção</th>
                    <th class="px-4 py-2">Caminho do Arquivo</th>
                    <th class="px-4 py-2">Template ID</th>
                    <th class="px-4 py-2">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td class="border px-4 py-2">{{ file.FileID }}</td>
                    <td class="border px-4 py-2">{{ file.Status }}</td>
                    <td class="border px-4 py-2">{{ file.InsertionDate }}</td>
                    <td class="border px-4 py-2">{{ file.FilePath }}</td>
                    <td class="border px-4 py-2">{{ file.TemplateID }}</td>
                    <td class="border px-4 py-2">
                        <form action="{{ url_for('delete_file', file_id=file.FileID) }}" method="POST"
                            onsubmit="return confirm('Tem certeza que deseja deletar este arquivo?');">
                            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Deletar</button>
                        </form>
                    </td>
                </tr>
                {% for file_data in file.file_data %}
                <tr>
                    <td class="border px-4 py-2" colspan="6">
                        <div class="p-3 bg-light border rounded">
                            <h6 class="text-start font-bold"><h3>Detalhes do Arquivo:</h3></h6>
                            <div class="d-flex flex-wrap">
                                <div class="px-4"><strong>Data ID:</strong> {{ file_data.DataID }}</div>
                                <div class="px-4"><strong>Data de Inserção:</strong> {{ file_data.InsertionDate }}</div>
                                <div class="px-4"><strong>Informação:</strong></div>
                            </div>
                            <table class="table table-bordered table-striped" style="border: 2px solid black;">
                                <thead>
                                    <tr>
                                        <th>Chave</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in file_data.Information.items() %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>
                                            {% if value is mapping %}
                                            <table class="table table-bordered">
                                                {% for sub_key, sub_value in value.items() %}
                                                <tr>
                                                    <td><strong>{{ sub_key }}</strong></td>
                                                    <td>{{ sub_value }}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                            {% elif value is sequence and not value is string %}
                                            <ul>
                                                {% for item in value %}
                                                <li>{{ item }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            {{ value }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                {% endfor %}                
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-4">
        <form action="{{ url_for('export_excel') }}" method="POST">
            <div class="col-12 d-flex flex-wrap">
                <div class="col-8 d-flex flex-wrap">
                    <div class="col-3">
                        <label for="template_select" class="form-label">Selecione um Template:</label>
                    </div>
                    <div class="col-9">
                        <select id="template_select" name="template_id" class="form-control w-100">
                            <option value="1">Nota Fiscal</option>
                            <option value="2">Boleto</option>
                            <option value="3">Imposto de Renda</option>
                            <option value="4">Outro</option>
                        </select>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-start justify-content-start">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded ms-3">Exportar para Excel</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}