{% extends "template.html" %}

{% block conteudo %}
<div class="mt-10 text-center" style="height: 76vh;">
    <h1 class="fs-1 font-bold my-4">Nossos Serviços</h1>
    
    <div class="d-flex justify-content-around flex-wrap">
        <section id="current-service" class="bg-white col-5 p-4 w-80 shadow-lg">
            <h2 class="fs-4 font-semibold mb-4">Extração de Dados de Arquivos PDF</h2>
            <p class="text-lg mb-6">Oferecemos um serviço avançado de extração de dados automaticamente de arquivos PDF. Este serviço permite que você converta seus documentos PDF em dados estruturados de forma rápida e eficiente.</p>
        </section>
        
        <section id="upcoming-service" class="bg-white col-5 p-4 w-80 shadow-lg">
            <h2 class="fs-4 font-semibold mb-4">Próximo Serviço: Treinamento de Novo Padrão de Dados</h2>
            <p class="text-lg mb-6">Em breve, lançaremos um serviço de treinamento para novos padrões de dados. Fique atento para mais atualizações.</p>
        </section>
    </div>
</div>
{% endblock %}
