{% extends "template.html" %}

{% block conteudo %}
<div class="mt-10 text-center">
    <h1 class="text-4xl font-bold mb-6">Nossos Serviços</h1>
    
    <section id="current-service" class="my-10">
        <h2 class="text-3xl font-semibold mb-4">Extração de Dados de Arquivos PDF</h2>
        <p class="text-lg mb-6">Oferecemos um serviço avançado de extração de dados automaticamente de arquivos PDF. Este serviço permite que você converta seus documentos PDF em dados estruturados de forma rápida e eficiente.</p>
    </section>
    
    <section id="upcoming-service" class="my-10">
        <h2 class="text-3xl font-semibold mb-4">Próximo Serviço: Treinamento de Novo Padrão de Dados</h2>
        <p class="text-lg mb-6">Em breve, lançaremos um serviço de treinamento para novos padrões de dados. Fique atento para mais atualizações.</p>
    </section>
</div>
{% endblock %}
