<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upflow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>
    <div class="{% if session.get('logged_in') %} col-12 d-flex flex-wrap {% endif %}">
        {% if session.get('logged_in') %}
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2" style="height: 100vh;">
            <a href="{{ url_for('home') }}"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">UpFlow</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{{ url_for('home') }}" class="nav-link text-white">Home</a>
                </li>
                {% if session.get('permission_level_id') == 1 %} {# Admin only #}
                <li>
                    <a href="{{ url_for('list_contacts') }}" class="nav-link text-white">Contatos</a>
                </li>
                <li>
                    <a href="{{ url_for('list_companies') }}" class="nav-link text-white">Empresas</a>
                </li>
                {% endif %}
                {% if session.get('permission_level_id') <= 2 %} {# Editor and above #}
                <li>
                    <a href="{{ url_for('list_employees') }}" class="nav-link text-white">Funcionários</a>
                </li>
                {% endif %}
                {% if session.get('permission_level_id') <= 3 %} {# Viewer and above #}
                <li>
                    <a href="{{ url_for('list_files') }}" class="nav-link text-white">Arquivos</a>
                </li>
                {% endif %}
                {% if session.get('permission_level_id') <= 4 %} {# Guest and above #}
                <li>
                    <a href="{{ url_for('upload_file') }}" class="nav-link text-white">Upload de Arquivos</a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ url_for('logout') }}" class="nav-link btn btn-primary text-white mt-3">Logout</a>
                </li>
            </ul>
        </div>
        <div class="b-example-divider"></div>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
            <a class="navbar-brand" href="{{ url_for('home') }}">UpFlow</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('services') }}">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white" href="{{ url_for('login') }}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}
        <div
            class="{% if session.get('logged_in') %} col-10 {% endif %}"
        >
            <div style="{% if session.get('logged_in') %} height: 85vh; {% endif %}">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                {% block conteudo %}{% endblock %}
            </div>
            <footer class="footer mt-4 bg-dark text-white text-center py-3">
                <p>&copy; 2024 UpFlow. Todos os direitos reservados.</p>
                <p><a href="mailto:contato@servicodigital.com" class="text-white">contato@upflow.com</a></p>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
</body>

</html>